/* layout */
.recommend-wrapper {
    /*padding:20px 30px;*/
}
.main-container {
    float:left;
}
.aside-container {
    float:right;
}

/* bloglist */
.bloglist {
    /*margin-left:-30px;*/
    /*width:910px;*/
    /*margin: 0 -7px;*/
	width: 940px;
}
.blogitem {
    float:left;
    display:inline;
    margin:0 30px 18px 0;
    width:434px;
    height:162px;
    /*padding:9px;*/
   	background-color:#fff;
   	box-shadow: 0 2px 2px #bfc2c6;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    word-wrap:break-word;
    position:relative;
    zoom:1;
    /* box-shadow:1px 1px 3px rgba(0, 0, 0, 0.05); */
}
.blogitem-avatar {
    display:block;
    width:214px;
    height:162px;
    overflow:hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-indent:-9999px;
    background-color:#E5E8E8;
    background-position:center center;
    background-repeat:no-repeat;
    box-shadow: 1px 0 1px #cacaca;
}
.blogitem-avatar.extend-img-size{
    text-indent:0;
}
.blogitem-title {
    line-height:30px;
    height:30px;
    width:190px;
    overflow:hidden;
    font-weight:normal;
    font-size:14px;
    color:#444;
    position: absolute;
    top:15px;
    left:236px;
}
.blogitem-title a,
.blogitem-title a:link,
.blogitem-title a:visited {
    color: #666;
}
.blogitem-desc {
    line-height:20px;
    font-size:12px;
    height:60px;
    width: 190px;
    overflow:hidden;
    color:#8f8f8f;
    position: absolute;
    top:50px;
    left:236px;
}
.blogitem-follow,
.blogitem-followed{
    position: absolute;
    bottom:20px;
    left: 236px;
}
.blogitem-followed{
    bottom: 25px;
}
.blogitem-followed{
    color:#cfd0d0;
}
.blogitem-new {
    background:url(../images/blog_category_follow.png) no-repeat 0 -50px;
    display:block;
    width:58px;
    height:22px;
    overflow:hidden;
    text-indent:-9999px;
    position:absolute;
    right:20px;
    bottom: 0;
}
/* taglist */
.taglist-holder{
    /*width:838px;*/
    overflow:hidden;
    padding: 10px 28px;
    margin-bottom:30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 1px #dee0e2;
    background: url(../images/sidemenu_item.png) repeat;
}
.taglist{
    width:840px;
}
.taglist li {
    /*width:65px;*/
    float:left;
    width: 75px;
    height: 30px;
}

.taglist li a,
.taglist li a:link,
.taglist li a:visited {
    font-size:14px;
    float: left;
    height:26px;
    line-height:26px;
    color:#838484;
    padding: 0 10px;
}
.taglist li a:hover {
    color: #444;
}

.taglist li.selected a,
.taglist li.selected a:link,
.taglist li.selected a:visited,
.taglist li.selected a:hover {
    background:#fff;
    border:1px solid #c7cbcc;
    box-shadow: 0 2px 2px #b9bdc0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#444;
    height: 26px;
    line-height: 26px;
}
