/*blog search box*/
.blog-search{padding-top:30px;}
.blog-search-i{
	background: #f3f3f3;
	border-radius: 8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:28px;
	height:102px;
	margin-bottom:30px;
}
.blog-search .tip{
	font-size:18px;
	color:#333;
}
.blog-search .search{
	padding:16px 0;
}
.blog-search .search input{float:left;display:inline;font-size:14px;border:1px solid #ccc;width:318px;height: 28px;line-height:28px;margin-right:10px;padding:4px 0 0 5px;}
.blog-search .search .search-btn{float:left;height:30px;color:#fff;line-height: 30px;}
.blog-search .other{color:#666;font-size:12px;}
.blog-search .other a{color:#666;text-decoration: underline;}

.friend-list{
    background: #fff;
	position:relative;
}
.friend-list-i{position:relative;}
.search-loading{font-size:12px;height:34px;line-height:34px;padding-left:45px;z-index:1;background: #fff url(/img/icon/large-circle-loading.$1474.gif) no-repeat left top;opacity:0.6;filter:alpha(opacity=60);}
#search-loading{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background: #fff url(/img/icon/large-circle-loading.$1474.gif) no-repeat 50% 40px;opacity:0.6;filter:alpha(opacity=60);}
#f-list-header{border-bottom:1px solid #999;line-height:26px;font-weight:bold;padding-left:10px;color:#333;}
.if-mute{width:100px;text-align:center;}
.action{width:100px;text-align:center;}
#f-list-header div{float:left;font-size:14px;padding-bottom:5px;}
#f-list .user-info {
    display: block;
    float: left;
    padding: 12px 0 0;
    width: 400px;
}
#f-list .user-info .blog-name {
    height:14px;
    line-height:14px;
    overflow: hidden;
}
#f-list .update-time {
    padding-top:10px;
    color:#888;
}
#f-list .if-mute,
#f-list .action{display:block;float:left;height:64px;}
#f-list .action .do-follow{display:none;width: 58px;float: right;height: 32px;}
#f-list .f-avatar{
    display:block;
    width:64px;
    height:64px;
    outline:none;
    background-position:center center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    text-indent:-9999px;
    float:left;
    margin-right:10px;
}
#f-list li{height:64px;padding:15px 20px;border-bottom:1px solid #ccc;}
#f-list li.last-item{
    border-bottom:none;
    -moz-border-bottom-left-radius:6px;
    -moz-border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    padding-bottom:4px;
}
#f-list .f-name{
    font-size: 12px;
    color: #444;
    padding-bottom: 7px;
}
#f-list .f-mobile{color:#666;}
#f-list .f-block{color:#666;display:block;padding-top:8px;width:30px;float:left;display:none;}
#f-list .both-follow{
    height:20px;
    line-height:20px;
    padding-bottom:44px;
    width:59px;
    background:url(/img/icon/follow.$278.png) no-repeat 0 24px;
    display:block;
    float:left;
    text-align:center;
}
#f-list .both-follow span{color:#999;display:block;height:20px;}
#f-list .action{height:22px;line-height:22px;padding-top:22px;float:right;text-align:right;}
#f-list .cancel-follow{float: right;
    width: 58px;
    text-align: center;
    height: 27px;
    line-height: 27px;
}
#f-list .cancel-follow,
#f-list .cancel-follow:link,
#f-list .cancel-follow:visited{
    color: #888;
}
#f-list .cancel-follow:hover{
    color:#444;  
}
#f-list .mute-btn{
    display:block;
    width:17px;
    height:18px;
    background:url(/img/icon/friend.$218.png) no-repeat 0 -23px;
    cursor:pointer;
    margin-left:40px;
}
#f-list .mute-btn.muted{
    background-position:0 -1px;
}
#f-list .mute-btn:hover{
    background-position:0 -152px;
}
#f-list .muted:hover{
    background-position:0 -204px;
}
#f-list .del-friend{
    display:block;
    width:18px;
    height:18px;
    margin-left:41px;
    background:url(/img/icon/friend.$218.png) no-repeat 0 -121px;
    text-indent:-9999px;
}
#f-list .del-friend:hover{background-position:0 -102px;}
#blog-search-input{
	float:left;
    margin-right:8px;
}
.blog-search-tip input{
    color:#AFB0B0;
    /*同side搜索框,其实一直都是这个颜色*/
}
#search-blog-button{
    float: left;
    width:72px;
}
.follow-setting{
	height:28px;
	line-height:28px;
	float:left;
	font-size:12px;
    color:#888;
}
.follow-setting a,
.follow-setting a:link,
.follow-setting a:visited,
.follow-setting a:hover{
	color: #444;
}
.follow-blacklist{
	position: absolute;
	top: 20px;
	right: 40px;
	padding:14px;
	border-radius: 6px;
	background-color: #F2F2F2;
}
.follow-blacklist p{
	width: 155px;
	font-size: 14px;
	line-height:16px;
}
.follow-blacklist p a{
	color: #333;
text-decoration: underline;
}
#pager-bottom{
    margin-top:10px;
}
#pager-bottom a{
    width:81px;
}
#pager-bottom a.previous-page{
    float:left;
}
#pager-bottom a.next-page{
    float:right;
}
#blacklist-notice {
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom:2px solid #C1C9CC;
    zoom:1;
}
#blacklist-notice-tip-line{
    height:10px;
    float:left;
    width:240px;
    background:#F9F9F9;
    font-size:0;
}
#blacklist-notice-tip-folder{
    float:left;
    border-left:10px solid #DEE5E8;
    border-top:10px dashed transparent;
    font-size:0;
    line-height:0;
}
#blacklist-notice-ct{
    clear:both;
    background:#F9F9F9;
    padding:10px 20px 20px;
}
#blacklist-notice a{
    color:#333;
    text-decoration:underline;
}
#follow-list-search-holder{
    margin:5px 0;
    border-bottom:1px solid #ccc;
    padding: 0 0 10px;
}
#follow-num-holder{
    line-height:26px;
    font-size:14px;
    font-weight:bold;
}
/*new ui*/
#following-header{
    position: relative;
    border: 1px solid #C7CACC;
    margin: 0 1px;
    box-shadow: inset 0 0 3px #ccc;
    border-bottom: none;
    background: url(../images/sidemenu_item.png) repeat;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 20px 13px 20px;
}
.following-title {
    color: #2C5370;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 12px;
    float:left;
    width:200px;
}
.following-title .title-icon {
    width: 25px;
    height: 16px;
    margin-top: 2px;
    float: left;
    background: url(../images/icons_dialog.png) 0 -150px scroll no-repeat;
}
#following-nav{
    float:right;
}
#following-nav li{
    float:left;
    margin-left:20px;
}
#following-nav li a,
#following-nav li a:link,
#following-nav li a:visited{
    color:#68869B;
    front-size:12px;
}
#invit-main{
    position: relative;
    top: -4px;
}
#friend-list-holder{
    background-color:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:1px 2px 3px #ccc;
    -webkit-box-shadow:1px 2px 3px #ccc;
    box-shadow:1px 2px 3px #ccc;
    padding-bottom:6px;
}
#friend-search-holder{
    height:45px;
}

#blog-search{
    padding: 20px 30px  15px 30px;
    background-color:#f6f6f6;
    -moz-border-top-right-radius:6px;
    -moz-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
}
