body {
  padding-bottom: 20px;
}
.input-text {
  width: 350px;
}
textarea.input-text {
  height: 130px;
}
#setting-myprofile-btn {
  background: #435e7a url(/img/bg/blue_button_bg.$1293.png) repeat-x 50% 100%;
  border-bottom: 1px solid #060c11;
  border-right: 1px solid #080F15;
  color: #FFF;
  padding: 7px 15px 8px;
  font-size: 18px;
  line-height: normal;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
}
#setting-myprofile-btn:active {
  background-image: none;
}
.setting-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border: 1px solid #C6C8CB;
  border-bottom: none;
  box-shadow: inset 0 0 1px #dddfe1;
  background: url(../images/sidemenu_item.png) repeat;
  height: 30px;
  padding: 10px 0;
  line-height: 30px;
  padding-left: 38px;
  position: relative;
  zoom: 1;
}
#setting-goto-btn {
  position: absolute;
  right: 20px;
  top: 5px;
}
#setting-goto-btn .skin-button-willblue-mid-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  width: 13px;
  height: 30px;
  background: url(/img/icon/setting-blog-goback.$5734.png) no-repeat;
}
#setting-goto-btn .skin-button-willblue-mid-hover .skin-button-willblue-mid-icon {
  background-position: 0 -32px;
}
#setting-goto-btn .skin-button-willblue-mid-press .skin-button-willblue-mid-icon {
  background-position: 0 -64px;
}
#setting-goto-btn .skin-button-willblue-mid-text {
  padding-right: 10px;
}
.setting-header h2 {
  float: left;
  font-size: 16px;
  color: #0f3d5e;
  background: url(../images/icons_dialog.png) no-repeat 0 -175px;
  padding-left: 25px;
  font-weight: normal;
}
.setting-rm-account .setting-header h2 {
  background: url(/img/icon/rm-account.$5153.png) no-repeat 0 13px;
}
.editor-faq .setting-header h2,
.editor-submit .setting-header h2 {
  background: url(../images/icons_dialog.png) no-repeat 0 -324px;
}
.setting-header a {
  float: right;
  display: inline;
}
.setting-tips {
  clear: both;
  padding-top: 3px;
  color: #999;
}
#setting-holder {
  background: #F6F6F6;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #aeb1b5;
  padding-top: 10px;
  margin-top: -5px;
  box-shadow: 0 2px 2px rgba(173, 176, 179, 0.8);
  position: relative;
  z-index: 1;
}
.setting-header .ex-link {
  text-decoration: underline;
  color: #A5A6A8;
  margin-right: 20px;
}
.setting-header .ex-link:hover {
  color: #848586;
}
.setting-item {
  border-bottom: 1px solid #e1e1e1;
  clear: both;
  padding: 18px 0;
}
.setting-item .setting-item-option {
  margin-top: 6px;
}
.setting-item input.disabled {
  background: #EEE;
  cursor: default;
}
.setting-item label {
  width: 100px;
  color: #444;
  margin-right: 20px;
  display: inline;
  text-align: right;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 38px;
}
.setting-item-main {
  margin-left: 120px;
}
.setting-item-main label.label-for-checkbox {
  padding: 0;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  cursor: pointer;
}
#setting-avatar img {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 10px;
}
#setting-avatar a {
  display: block;
  outline: none;
  padding-bottom: 5px;
}
#upload-tip {
  color: #666;
  display: block;
  height: 20px;
}
#upload-flash-holder {
  height: 20px;
}
#change-avatar-thumb {
  width: 140px;
}
#setting-email .setting-item-main {
  line-height: 38px;
}
#setting-feed .setting-item-main {
  height: 20px;
  padding: 10px 0;
}
#setting-feed .label-for-checkbox {
  float: none;
  width: 160px;
}
#setting-feed .paging-feed {
  padding-top: 10px;
}
#setting-feed .paging-feed .label-for-checkbox {
  float: left;
}
#setting-notify .label-notify {
  font-size: 14px;
  font-weight: normal;
  width: auto;
  cursor: pointer;
  color: #666;
}
.setting-error-msg {
  background: #f5e1db;
  border: 1px solid #ce7d7d;
  color: #ce7d7d;
  margin-bottom: 20px;
  padding: 15px 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  font-size: 14px;
}
#setting-pw input,
#setting-newpw input {
  width: 250px;
}
#setting-newpw .new-password {
  margin-bottom: 10px;
}
#repw {
  margin-top: 10px;
}
.error_msg {
  color: red;
}
.setting-bottom-nav {
  text-align: left;
  height: 50px;
  padding: 0 50px 10px;
  line-height: 50px;
}
.setting-bottom-nav a {
  color: #b4b4b4;
  text-decoration: none;
  margin-right: 10px;
}
.setting-bottom-nav a:hover {
  color: #8f8f8f;
}
.setting-submit {
  position: absolute;
  bottom: 20px;
  right: 16px;
}
#setting-mail {
  padding-bottom: 25px;
  border-bottom: none;
}
#setting-mail .setting-item-main,
#setting-notify .setting-item-main {
  padding-top: 10px;
  float: left;
  margin-left: 0;
  width: 630px;
}
#setting-notify .setting-item-main {
  padding-top: 5px;
}
#setting-mail .setting-item-main input,
#setting-notify .setting-item-main input {
  float: left;
  margin: 5px 5px 0 0;
  *margin-top: 0;
}
#setting-mail .setting-item-main span,
#setting-notify .setting-item-main span {
  float: left;
}
.setting-item-tips {
  clear: both;
  color: #afafaf;
  padding-top: 10px;
}
.one-blog-setting {
  clear: both;
  padding: 5px 0;
}
.one-blog-setting-item {
  float: left;
}
.one-blog-setting-item .label-for-checkbox {
  width: 100px;
}
.one-blog-setting h5 {
  float: left;
  height: 20px;
  line-height: 20px;
  width: 60px;
  margin-right: 15px;
  overflow: hidden;
  font-weight: normal;
}
