/**
    start less.js
*/



html{
    background:url(../images/bg_html.png) repeat #E2E5E9;
}

body {
  font-size: 12px;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  _font-family: Tahoma,Arial,Helvetica,STHeiti;
  cursor: default;
}

a, a:visited{
    color:#444;
}
a:hover{
    color:#222
}

#startpage-wrap {
  min-width: 900px;
  margin-left: -9999px;
}
#logo {
  height: 82px;
  margin: 0 auto 40px;
  text-indent: -9999px;
  position: relative;
  width: 300px;
  background: url("../images/logo_startpage.png") no-repeat left bottom;
}
#switcher {
  position: absolute;
  top: 15px;
  right: 0;
}
#switcher a {
  display: block;
  width: 90px;
  height: 44px;
  line-height: 44px;
  outline: none;
  text-align: center;
  color: #5F6060;
  font-size: 16px;
  text-decoration: none;
  background: url("../images/bg_startpage.png") no-repeat 0 0;
  _background-image: url("../images/bg_startpage_ie6.png");
}
#switcher a:hover {
  background-position: 0 -55px;
}
.input-wrap {
  width: 218px;
  height: 52px;
  background: url("../images/bg_startpage.png") no-repeat -280px -52px;
  _background-image: url("../images/bg_startpage_ie6.png");
  position: relative;
  float: left;
  margin-right: 5px;
}
.input-wrap label,
.input-wrap .blogurl-address {
  position: absolute;
  width: 170px;
  height: 52px;
  margin: 0 10px;
  line-height: 52px;
  color: #ABACAD;
  font-size: 16px;
  left: 32px;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}
.input-wrap.focus {
  background-position: -280px 0;
}
.input-wrap.focus label {
  color: #8F8F8F;
}
.input-wrap.error {
  background-position: 0 -196px;
  color: #AC0000;
}
.input-wrap .tip {
  position: absolute;
  width: 197px;
  height: 36px;
  line-height: 36px;
  background: url("../images/bg_startpage.png") no-repeat -300px -130px;
  _background-image: url("../images/bg_startpage_ie6.png");
  top: 50px;
  left: 10px;
  text-align: center;
  color: #8F8958;
  font-size: 12px;
  z-index: 1;
}
.input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url("../images/bg_startpage.png") no-repeat;
  _background-image: url("../images/bg_startpage_ie6.png");
  margin: 18px 0 0 15px;
  _margin-left: 8px;
}
#input-reg-email .input-icon,
#input-login-email .input-icon {
  background-position: 0 -197px;
}
#input-reg-email.focus .input-icon,
#input-login-email.focus .input-icon {
  background-position: 0 -147px;
}
#input-reg-pwd .input-icon,
#input-login-pwd .input-icon {
  background-position: 0 -300px;
}
#input-reg-pwd.focus .input-icon,
#input-login-pwd.focus .input-icon {
  background-position: 0 -250px;
}
#input-reg-blogurl .input-icon {
  background-position: 0 -400px;
}
#input-reg-blogurl.focus .input-icon {
  background-position: 0 -350px;
}
div.address-hide {
  visibility: hidden;
}
#blogurl {
  visibility: hidden;
  font-size: 16px;
  padding-right: 1px;
  white-space: nowrap;
}
#input-login-email label,
#input-login-pwd label {
  text-indent: -9999px;
}
.input-text {
  width: 164px;
  padding: 10px;
  height: 32px;
  line-height: 32px;
  background: transparent url(../images/blank.png) repeat;
  border: 0;
  outline: none;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  position: absolute;
  font-size: 16px;
  color: #8F8F8F;
  z-index: 20;
}
html input:-webkit-autofill {
  background-color: #FFF !important;
}
.help-link {
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
}
.help-link:hover {
  color: #8D8D8D;
}
#login-wrap {
  margin: 0 auto;
  width: 542px;
  _width: 545px;
}
.error-msg {
  height: 53px;
  line-height: 53px;
  width: 290px;
  color: #fff;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: url(/img/bg/startpage-error.$4598.png) no-repeat center center;
}
#login-err-msg {
  margin: -30px auto 30px;
}
#register-err-msg {
  margin-left: auto;
  margin-right: auto;
}
#register-wrap {
  width: 765px;
  margin: 0 auto;
}

#third-party-login,
#register-as-transfer,
#register-as-student{
  margin-top: 10px;
  width: 86px;
  float: right;
  cursor: pointer;
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  background: url("../images/bg_startpage.png") no-repeat 0 -475px;
  _background-image: url("../images/bg_startpage_ie6.png");
}
#third-party-login:hover,
#register-as-transfer:hover,
#register-as-student:hover {
  color: #8D8D8D;
}
#third-party-login:hover,
#register-as-transfer:hover,
#register-as-student:hover {
  background-position: 0 -445px;
}
#register-as-transfer,
#register-as-student {
  float: left;
  margin: 20px 10px 0;
}
#third-party-wrap {
  height: 109px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  background: url(/img/bg/startpage-thirdparty.$5106.png) repeat-x;
  _background-image: #2a4e6c;
}
#third-party-wrap a {
  display: inline-block;
  _display: block;
  _float: left;
  width: 100px;
  height: 54px;
  text-indent: -9999px;
  background: url(/img/icon/startpage-thirdparty.$5106.png) no-repeat;
  _background-image: url(/img/icon/startpage-thirdparty-ie6.$5106.png);
  margin: 30px 0 0;
}
#third-party-wrap a.msn {
  background-position: -500px 0;
}
#third-party-wrap a.msn:hover {
  background-position: -500px bottom;
}
#third-party-wrap a.renren {
  background-position: -300px 0;
}
#third-party-wrap a.renren:hover {
  background-position: -300px bottom;
}
#third-party-wrap a.qq {
  background-position: -400px 0;
}
#third-party-wrap a.qq:hover {
  background-position: -400px bottom;
}
#third-party-wrap a.douban {
  background-position: -200px 0;
}
#third-party-wrap a.douban:hover {
  background-position: -200px bottom;
}
#third-party-wrap a.weibo {
  background-position: 0 0;
}
#third-party-wrap a.weibo:hover {
  background-position: 0 bottom;
}
#third-party-wrap a.qqweibo {
  background-position: -100px 0;
}
#third-party-wrap a.qqweibo:hover {
  background-position: -100px bottom;
}
#footer-meta {
  margin: 0 auto 5px;
}
#footer {
  position: absolute;
  width: 100%;
  font-size: 12px;
  color: #9ea0a3;
  bottom: 0px;
}
#footer a,
#footer a:link,
#footer a:visited {
  color: #9ea0a3;
  text-decoration: none;
}
#footer .footer-item {
  margin-left: 6px;
}
#footer a:hover {
  color: #8d8d8d;
}
.input-button {
  display: block;
  width: 96px;
  height: 45px;
  background: url("../images/bg_startpage.png") no-repeat -400px -200px;
  _background-image: url("../images/bg_startpage_ie6.png");
  border: 0;
  cursor: pointer;
  float: left;
  margin-top: 4px;
  font-size: 16px;
  color: #8C8C8D;
}
.input-button:hover {
  background-position: -400px -245px;
}
.input-button:active {
  background-position: -400px -290px;
}
#startpage {
  position: relative;
  height: 100%;
  padding-top:100px;
}

.start-footer{
    width:700px;
    margin:100px auto 0;
}

.start-footer, .start-footer a, .start-footer a:visited{
    color:#666;
}

.start-footer h2{
    display:inline;
    font-size:12px;
    margin-right:20px;
}

.remember_me {
    margin-top:7px;
    margin-right:20px;
    position:relative;
    padding-left:18px;
    cursor:pointer;
    color:#444
}

.remember_me *{
    cursor:pointer;
}

.remember_me input{
    position:absolute;
    left:0;
    top:4px;
}