/**
    start less.js
*/
@import "ui.css";

a, a:hover, a:visited {
    text-decoration:none;
    color: #444;
}
a:active, a:hover{
    color:#222;
}

html {
    background:url("../images/bg_html.png") repeat #E3E7EA;
}

body {
    color: #444;
    padding-bottom:20px;
}

.the_inner{width:900px;margin:0 auto}

#header{
    background:url(../images/bg_header.png) repeat-x left -20px;
    height:72px
}
#main-wrap {
    padding-top:20px;
}
div#main {
    width:625px;
}

div#aside {
    width:250px;
}


div#main-wrap .pb_main_top,
div#main-wrap .pb_main_bottom{
    height: 16px;
    line-height: 0;
    font-size: 0;
    clear: both;
}
div#main-wrap .pb_main_top .l,
div#main-wrap .pb_main_bottom .l{
    width:660px;
    border:1px solid #c9cbcc;
    float: left;
    display: inline;
    background: #F6F6F6;
    height: 15px;
    overflow: hidden;
}
div#main-wrap .pb_main_top .l{
    -moz-border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
    border-bottom:none;
    _width:659px;
}
div#main-wrap .pb_main_bottom .l{
    -moz-border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;;
    -moz-border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;;
    border-top:none;
    border-bottom: 1px solid #adb1b4;
    box-shadow: 0 2px 2px #bec1c5;
    _width:659px;
}
div#main-wrap .pb_main_top .r,
div#main-wrap .pb_main_bottom .r{
    width:237px;
    float:right;
    display: inline;
    background: url("../images/sidemenu_item.png") repeat;
    _background: url("../images/sidemenu_item_ie6.png") repeat;
    border:1px solid #D1D3D5;
    border-left:none;
    height: 5px;
    overflow: hidden;
}
div#main-wrap .pb_main_top .r{
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    margin-top: 10px;
    border-bottom: none;
}
div#main-wrap .pb_main_bottom .r{
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    margin-bottom: 10px;
    border-top: none;
}
div#main-wrap .pb_wrapper{
    background: url("../images/publish_main_bg.png") repeat-y;
    _background:url("../images/publish_main_ie6_bg.png") repeat-y;
    border-right: 1px solid #D1D3D5;
    border-left:1px solid #c9cbcc;
    clear:both;
    position:relative;
}

div#main-wrap .pb_wrapper .pb_return_home {
    position:absolute;
    top:0;
    left:580px;
}

div#main-wrap .pb_aside{
    position:absolute;
    right:17px;top:17px;
    width:205px;
}

#pb-main{
    width:660px;
    padding:4px 0 22px;
    float:left;
    border-right:1px solid #c9cbcc;
    border-top:none;
    border-bottom: none;
}

h2#pb_main_title {
    border-bottom: 1px solid #E1E1E1;
    color: #124062;
    font-size: 18px;
    font-weight:bold;
    height: 18px;
    padding: 0 28px 20px;
    position: relative;
    width:603px;
}

#pb_main{
    width:600px;
    padding: 0 30px;
}

#pb_post_area{
    
}

#pb_post_area h3 {
    color: #5C5C5C;
    font-size: 16px;
    font-weight: normal;
    margin: 25px 0 10px;
    
}

#pb_post_area h3 span {
    color: #8B8B8B;
    font-size: 12px;
    margin-left: 15px;
}

#pb_photo_upload {
    position:relative;
    padding-bottom:20px;
}

/* toolbar misc-action */
.misc-action {
  float: right;
  padding-top: 32px;
  height: 33px;
  position: relative;
}
.misc-action .action-item {
  float: left;
  margin-left: 20px;
  display: inline;
  position: relative;
  zoom: 1;
}
.misc-action .action-link {
  overflow: hidden;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999px;
  background-image: url("../images/icons_header.png");
  _background-image: url("../images/icons_header_ie.png");
  background-repeat: no-repeat;
}
.misc-action a.discovery {
  background-position: 0 -98px;
}
.misc-action a.discovery:hover,
.misc-action .active a.discovery {
  background-position: 0 -128px;
}
.misc-action a.inbox {
  background-position: -36px -98px;
}
.misc-action a.inbox:hover,
.misc-action .active a.inbox {
  background-position: -36px -128px;
}
.misc-action a.invite {
  background-position: -150px -98px;
}
.misc-action a.invite:hover,
.misc-action .active a.invite {
  background-position: -150px -128px;
}

.misc-action a.themegarden {
  background-position: -192px -98px;
}
.misc-action a.themegarden:hover {
  background-position: -192px -128px;
}
.misc-action .active a.themegarden {
  background-position: -192px -128px;
}
.misc-action a.settings {
  background-position: -72px -98px;
}
.misc-action a.settings:hover,
.misc-action .active a.settings {
  background-position: -72px -128px;
}
.misc-action a.logout {
  background-position: -109px -98px;
}
.misc-action a.logout:hover {
  background-position: -109px -128px;
}
.misc-action .active {
  height: 40px;
  background: url("../images/icons_header.png") no-repeat center 29px;
}

.nav-item-class {
  color: #6F889A;
  text-shadow: 1px 1px 2px #0B2C45;
  font-size: 16px;
}
ul#nav {
  padding-top: 10px;
  float: left;
}
ul#nav li {
  float: left;
}
ul#nav li a.nav-item {
  float: left;
  height: 62px;
  line-height: 62px;
  padding: 0 13px;
  color: #6F889A;
  text-shadow: 1px 1px 2px #0B2C45;
  font-size: 16px;
}
ul#nav li.active a.nav-item {
  background: url("../images/bg_header.png") no-repeat center 51px;
  color: #fff;
}
ul#nav li a.nav-item:hover {
  color: #fff;
}
#nav-index,
#nav-inbox {
  position: relative;
}
ul#nav-blog-list {
  float: left;
  padding-top: 10px;
  height: 62px;
  overflow: hidden;
  width: auto;
}
ul#nav-blog-list li {
  float: left;
  display: inline;
  height: 62px;
  margin: 0 15px 0 10px;
  position: relative;
}
ul#nav-blog-list li a {
  float: left;
  height: 62px;
  line-height: 62px;
}
ul#nav-blog-list li .blog-pop-notice {
  left: 10px;
  top: 3px;
  z-index: 1;
}
#nav-more-blog-notice {
  top: 10px;
  left: 3px;
  cursor: pointer;
}
ul#nav-blog-list .nav-blog-avatar {
  height: 16px;
  width: 16px;
  float: left;
  background: #fff;
  padding: 1px;
  margin: 16px 8px 0 0;
  opacity: .6;
}
ul#nav-blog-list li:hover .nav-blog-avatar,
ul#nav-blog-list li.hover .nav-blog-avatar,
ul#nav-blog-list li.active .nav-blog-avatar {
  opacity: 1;
}
ul#nav-blog-list .nav-blog-avatar img {
  float: left;
}
ul#nav-blog-list .nav-blog-name {
  color: #6F889A;
  text-shadow: 1px 1px 2px #0B2C45;
  font-size: 16px;
  white-space: nowrap;
}
ul#nav-blog-list li.active a {
  background: url("../images/bg_header.png") no-repeat center 51px;
}
ul#nav-blog-list li:hover .nav-blog-name,
ul#nav-blog-list li.hover .nav-blog-name,
ul#nav-blog-list li.active .nav-blog-name {
  color: #FFF;
}
#nav-blog-action {
  float: left;
  position: relative;
  padding-top: 10px;
}
#nav-blog-action a {
  float: left;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  outline: none;
  background-image: url("../images/icons_header.png");
  background-repeat: no-repeat;
  margin: 21px 10px 0 0;
}
#nav-blog-action .nav-more-blog {
  background-position: 3px -15px;
}
#nav-blog-action a.nav-more-blog-hover,
#nav-blog-action a.nav-more-blog:hover {
  background-position: -67px -15px;
}
#nav-blog-action .nav-new-blog {
  background-position: -27px -15px;
}
#nav-blog-action a.nav-new-blog-hover,
#nav-blog-action a.nav-new-blog:hover {
  background-position: -97px -15px;
}

div#logo-holder {
  float: left;
  position: relative;
}
#logo a {
  display: block;
  height: 71px;
  width: 100px;
  text-indent: -9999px;
  outline: none;
  background: url("../images/logo.png") no-repeat 0 center;
}
#logo a:active {
  position: relative;
  top: 1px;
  opacity: 0.8;
}

.publisher {
  position: relative;
  z-index: 2;
  zoom: 1;
}
.publisher .pb-avatar {
  float: left;
  position: relative;
}
.publisher .pb-avatar:active {
  top: 1px;
  opacity: 0.9;
  *filter: Alpha(Opacity=90);
}
.publisher .pb-avatar a.blog-avatar {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center center;
  text-indent: -9999px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
}
.publisher .pb-avatar a.author-avatar {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  bottom: -10px;
  outline: none;
}
.publisher .pb-avatar a.author-avatar span {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center center;
  text-indent: -9999px;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.publisher .pb-action-holder {
  float: left;
  width: 544px;
  position: relative;
  margin: -2px -2px -2px 19px;
}
.publisher .pb-action {
  background: url("../images/bg_feed_sprites.png") -1200px 0 repeat-y;
}
.publisher .pb-action ul {
  padding: 10px 20px 5px;
  *height:72px;
}
.pb-action-shadow-top {
  height: 5px;
  background: url("../images/bg_feed_sprites.png") 0 0 no-repeat;
}
.pb-action-shadow-bottom {
  height: 10px;
  background: url("../images/bg_feed_sprites.png") -600px bottom no-repeat;
}
.publisher .pb-triangle {
  height: 20px;
  width: 17px;
  background: url("../images/icon_publisher_triangle.png") no-repeat;
  position: absolute;
  left: -15px;
  top: 24px;
  z-index: 1;
  overflow: hidden;
}
.publisher .pb-action li {
  float: left;
}
.publisher .pb-action li a {
  display: block;
  width: 100px;
  height: 74px;
  background: url("../images/icons_publisher.png") no-repeat 0 0;
  text-indent: -9999px;
  outline: none;
}
.publisher .pb-action li a:hover {
  background-position: 0 -74px;
}
.publisher .pb-action .music {
  background-position: -200px 0;
}
.publisher .pb-action .music:hover {
  background-position: -200px -74px;
}
.publisher .pb-action .photo {
  background-position: -100px 0;
}
.publisher .pb-action .photo:hover {
  background-position: -100px -74px;
}
.publisher .pb-action .video {
  background-position: -300px 0;
}
.publisher .pb-action .video:hover {
  background-position: -300px -74px;
}
.publisher .pb-action .link {
  background-position: -400px 0;
}
.publisher .pb-action .link:hover {
  background-position: -400px -74px;
}
.publisher-tip {
  display: block;
  width: 473px;
  height: 36px;
  line-height: 34px;
  margin-top: -1px;
  margin-left: 94px;
  padding-left: 50px;
  background: url("../images/bg_yello_tip.png") no-repeat;
  margin-bottom: 15px;
  color: #8F8856;
  font-size: 12px;
  position: relative;
  zoom: 1;
  z-index: 1;
}
.publisher-tip a.tip-link {
  color: #444;
}
.publisher-tip a.tip-link:hover {
  text-decoration: underline;
}
.publisher-tip .tip-action {
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
  height: 9px;
  text-indent: -9999px;
  background: url("../images/icons_publisher.png") no-repeat 0 0;
  margin-top: 13px;
  margin-right: 12px;
  cursor: pointer;
}
.publisher-tip .tip-action:hover {
  background-position: 0 -20px;
}



div#aside {
  width: 250px;
  float: right;
}
div#aside .side-tracked-tag {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
}
div#aside .side-tracked-tag li,
div#aside .side-tracked-tag a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
}
div#aside .aside-blog-post {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
}
div#aside .aside-blog-post a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
}
#aside #side-search-holder {
  position: relative;
  margin-bottom: -2px;
}
#side-search-box {
  background: #F7F8F8;
  border: 1px solid #C2C5C7;
  border-bottom-color: #ABADAF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
#side-search-box:hover {
  background: #fff;
}
#side-search-holder.focus #side-search-box {
  background: #fff;
}
#side-search-input {
  border: 0;
  background: transparent;
  outline: none;
  height: 14px;
  line-height: 14px;
  width: 180px;
  padding: 11px 0;
  margin-left: 35px;
  font-size: 12px;
}
#side-search-input.input-tip {
  color: #AFB0B0;
}
#side-go-search {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background: none;
  border: 0;
  display: block;
  text-indent: -9999px;
  background: url("../images/icons_sidemenu.png") no-repeat -1143px 8px;
}
#side-search-holder.focus #side-go-search {
  background-position: -1143px -41px;
}
#side-search-show-options {
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../images/icons_sidemenu.png") no-repeat -1181px -1px;
}
#side-search-show-options:hover,
#side-search-show-options.active {
  background-position: -1181px -50px;
}
#side-search-options {
  width: 145px;
  left: 160px;
  top: 34px;
}
#side-search-options .pop-menu-list-triangle {
  left: 65px;
}
#side-search-options .on .pop-menu-extra {
  background: url("../images/icons_sidemenu.png") no-repeat -1170px -95px;
}

#side-search-tip a {
  margin-top: 63px;
  margin-left: 177px;
  display: block;
  color: white;
  height: 14px;
  line-height: 14px;
  width: 60px;
  text-indent: -9999px;
}
#aside .sidebox {
  clear: both;
  margin-bottom: 20px;
}
#aside .sidebox h5 {
  margin-bottom: 10px;
  color: #567286;
}
#aside .sidebox .more {
  float: right;
  color: #567286;
}
#aside .sidebox .sidebox-ct {
  clear: both;
}
#aside .aside-hr {
  border-width: 1px 0;
  border-top: 1px solid #C7CDD3;
  border-bottom: 1px solid #D7DCE1;
}
#aside .aside-footer {
  padding-top: 20px;
}
#aside .aside-footer .aside-about {
  font-size: 12px;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  _zoom: 1;
}
#aside .aside-footer .aside-about a {
  color: #444;
  padding-right: 5px;
}
#aside .aside-footer .aside-about a:hover {
  text-decoration: underline;
}
#aside .aside-footer .aside-about a.aside-about-last {
  padding-right: 0;
}
#aside .aside-footer .aside-dd {
  padding-top: 8px;
  color: #8C8E90;
  font-size: 11px;
}
#aside .aside-footer .aside-dd a {
  color: #8C8E90;
}
#aside .aside-footer .aside-dd .aside-dd-last {
  color: #8C8E90;
  padding-left: 5px;
}



.sidemenu {
  border: 1px solid #C7CACC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  font-size: 13px;
  *font-size: 12px;
}
.sidemenu li a {
  display: block;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #C6C8CB;
  color: #444;
  background: url("../images/sidemenu_item.png") repeat;
}
.sidemenu li a .aside-icon {
  float: left;
  width: 36px;
  height: 36px;
  background-image: url("../images/icons_sidemenu.png");
  background-repeat: no-repeat;
}
.sidemenu li a:hover {
  background: #F0F1F2;
  box-shadow: inset 0 0 3px #ccc;
}
.sidemenu li .sidemenu-item-extra {
  float: right;
  margin-right: 15px;
  color: #8F8F8F;
}
.sidemenu li.active .sidemenu-item-extra {
  color: #fff;
}
.sidemenu li.first a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
.sidemenu li.last a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
}
.sidemenu li.sub a {
  height: 29px;
  line-height: 29px;
  background: url("../images/sidemenu_sub_item.png") repeat;
  color: #A5A6A8;
  font-size: 12px;
}
.sidemenu li.sub a:hover {
  background: #F0F1F2;
  box-shadow: inset 0 0 3px #ccc;
  color: #848586;
}
.sidemenu li.last a,
.sidemenu li.sub a {
  border-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
}
.sidemenu li.aside-follow-content {
  position: relative;
}
.sidemenu li.aside-follow-content .aside-manage-follow {
  position: absolute;
  right: 10px;
  bottom: 0;
  background: none;
  box-shadow: none !important;
  font-size: 12px;
  color: #A5A6A8;
}
.sidemenu li.aside-follow-content .aside-manage-follow:hover {
  color: #848586;
}
.sidemenu li.aside-follow-content.active .aside-manage-follow {
  color: #617C92;
}
.sidemenu li.aside-follow-content.active .aside-manage-follow:hover {
  color: #fff;
}
.sidemenu li.active a {
  background: #103C5D;
  margin: -1px -1px 0;
  padding: 1px 1px 0;
  color: #F9FAFA;
  box-shadow: inset 0 0 3px #000;
}
.sidemenu li.aside-blog-name {
  line-height: 28px;
  height: 49px;
}
.sidemenu li.aside-blog-name a {
  height: 48px;
}
.sidemenu li.aside-blog-name .aside-domain-title,
.sidemenu li.aside-blog-name .aside-domain-url {
  display: block;
  float: left;
  width: 202px;
  line-height: 18px;
  height: 18px;
  padding-right: 10px;
  overflow: hidden;
}
.sidemenu li.aside-blog-name .aside-domain-title {
  font-weight: bold;
  padding-top: 6px;
  height: 18px;
  white-space: nowrap;
}
.sidemenu li.aside-blog-name .aside-icon {
  background-position: -258px 7px;
}
.sidemenu li.aside-blog-name:hover .aside-icon {
  background-position: -258px -43px;
}
.sidemenu li.aside-blog-name.active .aside-icon {
  background-position: -258px -93px;
}
.sidemenu li.aside-hot-tag .aside-icon {
  background-position: -92px 10px;
}
.sidemenu li.aside-hot-tag:hover .aside-icon {
  background-position: -92px -40px;
}
.sidemenu li.aside-hot-tag.active .aside-icon {
  background-position: -92px -90px;
}
.sidemenu li.aside-hot-tag .aside-icon {
  cursor: move;
}
.sidemenu li.aside-follow-content .aside-icon {
  background-position: 11px 10px;
}
.sidemenu li.aside-follow-content:hover .aside-icon {
  background-position: 11px -40px;
}
.sidemenu li.aside-follow-content.active .aside-icon {
  background-position: 11px -90px;
}
.sidemenu li.aside-explore-blog .aside-icon {
  background-position: -23px 5px;
}
.sidemenu li.aside-explore-blog:hover .aside-icon {
  background-position: -23px -45px;
}
.sidemenu li.aside-explore-blog.active .aside-icon {
  background-position: -23px -95px;
}
.sidemenu li.aside-i-like .aside-icon {
  background-position: -57px 10px;
}
.sidemenu li.aside-i-like:hover .aside-icon {
  background-position: -57px -40px;
}
.sidemenu li.aside-i-like.active .aside-icon {
  background-position: -57px -90px;
}
.sidemenu li.aside-explore-dd .aside-icon {
  background-position: -125px 6px;
}
.sidemenu li.aside-explore-dd:hover .aside-icon {
  background-position: -125px -44px;
}
.sidemenu li.aside-explore-dd.active .aside-icon {
  background-position: -125px -94px;
}
.sidemenu li.aside-customize .aside-icon {
  background-position: -295px 6px;
}
.sidemenu li.aside-customize:hover .aside-icon {
  background-position: -295px -44px;
}
.sidemenu li.aside-customize.active .aside-icon {
  background-position: -295px -94px;
}
.sidemenu li.aside-blog-post .aside-icon {
  background-position: -329px 10px;
}
.sidemenu li.aside-blog-post:hover .aside-icon {
  background-position: -329px -40px;
}
.sidemenu li.aside-blog-post.active .aside-icon {
  background-position: -329px -90px;
}
.sidemenu li.aside-blog-fans .aside-icon {
  background-position: -362px 10px;
}
.sidemenu li.aside-blog-fans:hover .aside-icon {
  background-position: -362px -40px;
}
.sidemenu li.aside-blog-fans.active .aside-icon {
  background-position: -362px -90px;
}
.sidemenu li.aside-blog-analytics .aside-icon {
  background-position: -464px 10px;
}
.sidemenu li.aside-blog-analytics:hover .aside-icon {
  background-position: -464px -40px;
}
.sidemenu li.aside-blog-analytics.active .aside-icon {
  background-position: -464px -90px;
}
.sidemenu li.aside-blog-message .aside-icon {
  background-position: -396px 10px;
}
.sidemenu li.aside-blog-message:hover .aside-icon {
  background-position: -396px -40px;
}
.sidemenu li.aside-blog-message.active .aside-icon {
  background-position: -396px -90px;
}
.sidemenu li.aside-blog-contribute .aside-icon {
  background-position: -1009px 10px;
}
.sidemenu li.aside-blog-contribute:hover .aside-icon {
  background-position: -1009px -40px;
}
.sidemenu li.aside-blog-contribute.active .aside-icon {
  background-position: -1009px -90px;
}
.sidemenu li.aside-blog-archive .aside-icon {
  background-position: -530px 10px;
}
.sidemenu li.aside-blog-archive:hover .aside-icon {
  background-position: -530px -40px;
}
.sidemenu li.aside-blog-archive.active .aside-icon {
  background-position: -530px -90px;
}
.sidemenu li.aside-blog-transfer .aside-icon {
  background-position: -496px 5px;
}
.sidemenu li.aside-blog-transfer:hover .aside-icon {
  background-position: -496px -45px;
}
.sidemenu li.aside-blog-transfer.active .aside-icon {
  background-position: -496px -95px;
}
.sidemenu li.aside-explore-wall .aside-icon {
  background-position: -125px 7px;
}
.sidemenu li.aside-explore-wall:hover .aside-icon {
  background-position: -125px -43px;
}
.sidemenu li.aside-explore-wall.active .aside-icon {
  background-position: -125px -93px;
}
.sidemenu li.aside-rejection .aside-icon {
  background-position: -1043px 10px;
}
.sidemenu li.aside-rejection:hover .aside-icon {
  background-position: -1043px -40px;
}
.sidemenu li.aside-rejection.active .aside-icon {
  background-position: -1043px -90px;
}
.sidemenu li.aside-blog-member .aside-icon {
  background-position: -429px 9px;
}
.sidemenu li.aside-blog-member:hover .aside-icon {
  background-position: -429px -41px;
}
.sidemenu li.aside-blog-member.active .aside-icon {
  background-position: -429px -91px;
}
.sidemenu li.aside-blog-draft .aside-icon {
  background-position: -1079px 7px;
}
.sidemenu li.aside-blog-draft:hover .aside-icon {
  background-position: -1079px -43px;
}
.sidemenu li.aside-blog-draft.active .aside-icon {
  background-position: -1079px -93px;
}
.sidemenu li.aside-blog-queue .aside-icon {
  background-position: -329px 10px;
}
.sidemenu li.aside-blog-queue:hover .aside-icon {
  background-position: -329px -40px;
}
.sidemenu li.aside-blog-queue.active .aside-icon {
  background-position: -329px -90px;
}
.sidemenu .sidemenu-item-follow,
.sidemenu .rec-follow {
  width: 20px;
  height: 20px;
  float: right;
  background: url("../images/icons_sidemenu.png") no-repeat -167px 2px;
  margin: 8px 7px 0 0;
  text-indent: -9999px;
  outline: none;
}
.sidemenu .sidemenu-item-follow:hover,
.sidemenu .rec-follow:hover {
  background-position: -167px -48px;
}
.tag-clouds .aside-editor-avatar {
  width: 38px;
  height: 36px;
  float: left;
  margin-left: -1px;
  margin-right: 10px;
  background-position: center center;
}
.tag-clouds .first .aside-editor-avatar {
  margin-top: -1px;
  height: 37px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
}
.tag-clouds .last .aside-editor-avatar {
  margin-bottom: -1px;
  height: 37px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
}
.tag-clouds .aside-editor-name,
.tag-clouds .aside-editor-title {
  line-height: 16px;
  display: block;
  height: 16px;
  overflow: hidden;
  font-size: 12px;
}
.tag-clouds .aside-editor-name span,
.tag-clouds .aside-editor-title span {
  float: left;
}
.tag-clouds .aside-editor-name {
  padding-top: 2px;
  font-size: 12px;
  white-space: nowrap;
}
.tag-clouds .aside-editor-title {
  color: #ADAFB1;
}
.sidebox-meta {
  padding: 5px 0 0 5px;
}
.sidebox-meta a {
  color: #B4B4B4;
}
.sidebox-meta a:hover {
  color: #8F8F8F;
}

/* sub-nav: no-login */
#sub-nav {
  float: right;
  padding-top: 8px;
}
#sub-nav li {
  float: right;
  margin-left: 20px;
  display: inline;
  height: 60px;
  line-height: 60px;
}
#sub-nav li a {
  color: #879eae;
  font-size: 12px;
}
#sub-nav li a:hover {
  color: #FFF;
}
#sub-nav.no-login li a {
  font-size: 16px;
  text-shadow: 1px 1px 2px #0B2C45;
}
.no-login-search {
  width: 133px;
  height: 31px;
  line-height: 31px;
  background: url("../images/no_login_search.png") no-repeat;
  float: right;
  margin: 22px 0 0 22px;
  position: relative;
  padding: 0 10px 0 34px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.no-login-search #no-login-go-search {
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../images/no_login_search.png") no-repeat 10px -45px;
  left: 0;
  top: 0;
  border: 0 none;
  text-indent: -9999px;
  overflow: hidden;
}
.no-login-search #no-login-search-input {
  width: 133px;
  height: 12px;
  line-height: 12px;
  padding: 8px 0;
  border: 0 none;
  outline: none;
}
.no-login-search #no-login-search-input.input-tip {
  color: #9d9d9d;
  margin-top:2px;
}


#pb-text-textarea_editor .edui-editor{
    z-index:2;
}

div#wrap{
    padding-bottom:30px;
}
.pb-input-text{
    font-size:24px;
    color:#333;
    line-height:30px;
    padding:7px;
    width:588px;
    outline:none;
    border:1px solid #dddddd;
    border-top:1px solid #ebebeb;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
}
#pb-audio-search-div .ui-text-virtual,
#pb-video-search-holder .ui-text-virtual{
    font-size: 16px;
    color:#C7C7C7;
    font-weight: normal;
}
.pb-input-tip{
    height:25px;
    line-height:25px;
    padding-left:20px;
    margin-top:-25px;
    padding-right:10px;
    float:right;
}

input.pb-input-text{
    height:30px;
    box-shadow:0 1px 1px #d3d1d1;
}
textarea.pb-input-text{
    height:126px;
    line-height:18px;
    font-size:14px;
    box-shadow:0 -137px 3px #fff inset, 0 0 3px rgba(0,0,0,0.5) inset;
}
.pb-input-error{
    border-color:#f4d9d9;
}
div#content{
    padding:0;
    position:static;
    *position: relative;
}

#pb_actions{
    padding:30px 0 20px;
}

.aside-item {
    margin-bottom:20px;
}
#post-to-aside-holder label{
    font-size:16px;
    display: block;
    color:#4e4e4e;
}

#pb-aside{
    width:237px;
    padding:0;
    float:right;
}
#pb-aside .pb-aside-i{
    padding:12px 2px;
}
#pb-aside .pb-mod{
    padding: 0 16px;
}
#pb-aside h4{
    color: #B1B3B5;
    padding:5px 0 0 17px;
    font-weight: normal;
}
#pb-aside .separator{
    border-bottom:1px solid #C6C8CB;
    border-width:1px 0;
    margin:15px 0;
	*margin:7px 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
#pb-aside .noborder{
    border:none;
    margin:7px 0\9;
}
.aside-item label{
    font-size:12px;
}
.aside-item select{
    border:1px solid #bbb;
    padding:5px;
    font-size:14px;
}

/***/
.pb_menu_text{
    cursor:pointer;
    height:30px;line-height:30px;
}
.pb_menu_text img{
    float:left;display:inline;
    margin-right:10px;
}

#post-tag{
    background:#fff;
    border:1px solid #cfd3d5;
    padding:5px;
    min-height:90px;
    _height:90px;
    width:188px;
    overflow:hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 1px #d0d3d6;
}
#post-tag-list{
}
#post-tag-list li, #recommand-tag-list li{
    float:left;
    /* height:22px; */
    line-height:23px;
    padding:0 9px;
    background:url("../images/bg_pb_tag.png") repeat-x 0 0;
    margin:0 5px 5px 0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#eeeeee;
	white-space:nowrap;
    box-shadow: 0 1px 1px #b7b9bc;
}
#post-tag-list li:hover, #recommand-tag-list li:hover{
    background-position: 0 -27px;
}
#tags-more{
	color:#a5a7a8;
	line-height:21px;
	cursor:pointer;
	*padding-top:5px;
	zoom:1;
}
#post-tag-list li .delete-tag-btn{
    color:#eee;
    padding-left:5px;
}
#post-tag-list li .delete-tag-btn:hover{
    color:#fff;
}
#recommand-tag-holder{
    padding:10px 0 0;
    *padding-bottom: 10px;
}
#recommand-tag-holder h4{
    padding-bottom:5px;
    font-size:12px;
    color:#4e4e4e;
}
#recommand-tag-list li{
    cursor:pointer;
}
#post-tag-input{
    padding:0;
    margin:0;
    border:0;
    width:188px;
    outline:none;
} 
.pb-tag-tip{
    color:#999;
}


/***
    Blog posts list
*/
.blog-post-list-pager{
    width:550px;
    margin-left:80px;
}
#blog-posts-list{margin-top:20px;}
.blog-post-item-main{padding:8px 20px;}
.blog-post-item-main h2{font-size:12px;}
.blog-post-item-main h3 a, .blog-post-item-main h3 a:visited{color:#555;font-weight:bold;}
.blog-post-item{margin-bottom:20px;}
.post-item-tags {
    float:left;margin-top:10px;
    width:320px;
}
.post-item-tags a{float:left;margin-right:8px;}
.post-item-tags a, 
.blog-post-item-main h2 a,
.blog-post-item-main h2 a:visited, 
.post-item-acts a, .post-item-acts a:visited
.post-item-tags a:visited{
    color:#B4B4B4;
    font-size:12px;
}
.post-item-tags a:hover,
.post-item-acts a:hover,
.blog-post-item-main h2 a:hover{
    color:#666
}
.post-item-acts{
    float:right;margin-top:10px;
    width:180px;
}
.post-item-acts a{
    margin-left:8px;
    float:right;
}

.post-item-acts a.feed-fav {
    background: url("../images/feed_icons.png") no-repeat scroll -59px -28px transparent;
    _background: url("../images/feed_icons_ie.png") no-repeat scroll -59px -28px;
    height: 16px;
    text-indent: -9999em;
    width: 16px;
    float:right;
    margin-top:4px;
}

.post-item-acts a.feed-fav:hover {
    background-position: -59px 2px;
}

.post-item-acts a.feed-fav.faved {
    background-position: -89px -58px;
}

#pb_audio_container{
    margin-top:20px;
    position:relative;
    z-index:999;
}

div#PopElementContainer .dd-suggestion{
    border: 1px solid #E3E3E3;
    border-top:none;
    border-bottom: 1px solid #C8C8C8;
    margin-left: 10px;
    box-shadow: 0 1px 1px #E0E0E0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    padding:0 0 4px;
    background: #f5f5f5;
    width: 578px; 
    position:absolute;
    z-index:1000;
}
div#PopElementContainer .dd-suggestion ul{
    background: #fff;
}
div#PopElementContainer .pb-music-search-result li span{
    line-height:28px !important;
    font-size:14px !important;
}
div#PopElementContainer .pb-music-search-result li{ 
    height:30px !important;
    line-height:30px !important;
    font-size:14px !important;
    padding:0 16px;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
    cursor:pointer;
}
div#PopElementContainer .pb-music-search-result li .pb-music-song{
    color:#727272;
    padding-right:10px;
}
div#PopElementContainer .pb-music-search-result li .pb-music-artist{
    color:#ABABAB;
    padding-left:10px;
}
div#PopElementContainer .pb-music-search-result li .separator{
    color:#ABABAB;
}
div#PopElementContainer .pb-music-search-result li.selected{
    background:#f5f5f5;
}
.pb-music-result-footer{
    height:38px;
    line-height:38px;
    color:#ABABAB;
    padding: 0 16px;
}
div#PopElementContainer .pb-music-result-footer{
    line-height:38px;
}
div#PopElementContainer .pb-music-result-footer .pb-music-result-pages{
    float: right;
    padding:5px 0 0 10px;
}
.pb-music-result-pager{
    float:right;
    padding-right:5px;
}
.pb-music-result-count{
    float:left;
}
.pb-music-result-pager .pipe{
    padding:5px;
    color:#4e4e4e;
}
#pb-audio-thumb{
    float:left;
    margin-right:15px;
}
#pb-audio-player{
    float:left;
}

#pb-audio-player p{
    margin-top:10px;
}

.pb-music-result-pager {
    margin-top:5px;
}

.pb-music-result-pager .ui-button-holder {
    margin-right: 10px;
}

.pb-music-result-pager .ui-button {
    padding:0 10px;
}

#pb_editor{
    position:relative;z-index:1;
}

#pb-audio-repick-btn{
    position:absolute;
    right:0;
    top:0;
    *top:20px;
}

.blog-post-audio-meta{
    margin:20px 0;
}
.blog-post-audio-meta embed{
    margin-left:20px;
}

#video_parse_result {
    margin:20px 0;
    padding:20px;
    background:#efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.flv_source a, .flv_source a:visited{
    color:#666;font-size:10px;
}

.video-img-holder{
    margin:5px 20px 20px 0;
    position:relative;
}
.video-img-holder .video-play {
    cursor:pointer;
    background: url("../images/player.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    left: 50%;
    margin: -22px 0 0 -22px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 43px;
}

.pop-menu-list-holder {
  position: absolute;
  z-index: 10000;
  left: 100px;
  top: 57px;
}
.pop-menu-list-inner {
  position: relative;
}
.pop-menu-list-triangle {
  position: absolute;
  width: 13px;
  height: 7px;
  top: -7px;
  left: 20px;
  z-index: 100;
  background: url(../images/icons_header.png) no-repeat 0 -320px;
}
.pop-menu-list {
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
}
.pop-menu-list li {
  border-top: 1px solid #E8E8E8;
  font-size: 14px;
}
.pop-menu-list li.first {
  border-top: 0;
}
.pop-menu-list li.first a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}
.pop-menu-list li.last a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}
.pop-menu-list li a {
  height: 34px;
  line-height: 34px;
  display: block;
  padding: 0 0 0 15px;
  color: #8F8F8F;
  overflow: hidden;
}
.pop-menu-list li a .pop-menu-extra {
  width: 34px;
  height: 34px;
  float: right;
}
.pop-menu-list li a:hover {
  color: #444444;
  background-color: #F5F5F5;
}
.pop-menu-list li.sub {
  background: #E9E9E9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  font-size: 12px;
  padding-top: 1px;
}
.pop-menu-list li.sub a {
  background: #F5F5F5;
  border-top: 1px solid #F1F1F1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  height: 22px;
  line-height: 21px;
}
.pop-menu-list.mini a {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}