.ui-input-text {
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EBEBEB #DDDDDD #B7B7B7;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 14px;
    line-height: 30px;
    outline: medium none;
    padding: 9px 8px;
    width: 584px;
    box-shadow: 0 1px 1px #D3D1D1;
    height: 18px;
}


.ui-button-holder {
    height:39px;line-height:39px;
    position:relative;
    cursor:pointer;
    padding-left:3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    zoom:1;
}
.ui-button-holder span{
    height:39px;width:3px;
    background-image: url(../images/button_bg.png);
    _background-image: url(../images/button_bg.png);
    background-position:left -800px;
    display:block;
    position: absolute;left:0;top:0;
}
.ui-button {
    border:none;
    background-image: url(../images/button_bg.png);
    _background-image: url(../images/button_bg.png);
    background-position:right -800px;
    height:39px;line-height:39px;
    padding:0 30px;
    padding-right:33px;
    overflow:hidden;
    display:block;
    color:#333;
}

/**
    Normal Button
*/
.ui-button-holder.ui-button-holder-hover span{
    background-position:left -850px;
}
.ui-button-holder.ui-button-holder-hover .ui-button{
    background-position:right -850px;
}

.ui-button-holder.ui-button-holder-active .ui-button{
    padding-top:1px;
}


/**
    End Normal Button
*/

/**
    silver Button
*/
.ui-button-holder.ui-button-silver, .ui-button-holder.ui-button-silver .ui-button {
    height:39px;line-height:39px;
}
.ui-button-holder.ui-button-silver span{
    background-position:left -200px;
}
.ui-button-holder.ui-button-silver .ui-button{
    background-position:right -200px;
    padding:0 23px 0 20px;
}
.ui-button-holder.ui-button-silver span{
    background-position:left -200px;
}

.ui-button-holder.ui-button-silver.ui-button-holder-hover span{
    background-position:left -250px
}

.ui-button-holder.ui-button-silver.ui-button-holder-hover .ui-button{
    background-position:right -250px
}

.ui-button-holder.ui-button-silver.ui-button-holder-active .ui-button{
    padding-top:1px;
    background-position:right -300px
}

.ui-button-holder.ui-button-silver.ui-button-holder-active span{
    background-position:left -300px
}
/**
    End silver button
*/

/**
    White Button
*/
.ui-button-holder.ui-button-white, .ui-button-holder.ui-button-white .ui-button {
    height:31px;line-height:31px;
}
.ui-button-holder.ui-button-white span{
    background-position:left 0;
}
.ui-button-holder.ui-button-white .ui-button{
    background-position:right 0;
    padding:0 23px 0 20px;
}
.ui-button-holder.ui-button-white span{
    background-position:left 0;
}

.ui-button-holder.ui-button-white.ui-button-holder-hover span{
    background-position:left -50px
}

.ui-button-holder.ui-button-white.ui-button-holder-hover .ui-button{
    background-position:right -50px
}

.ui-button-holder.ui-button-white.ui-button-holder-active .ui-button{
    padding-top:1px;
    background-position:right -100px
}

.ui-button-holder.ui-button-white.ui-button-holder-active span{
    background-position:left -100px
}
/**
    End white button
*/

/**
    Blue Button
*/
.ui-button-holder.ui-button-blue span{
    background-position:left -600px;
}
.ui-button-holder.ui-button-blue .ui-button{
    background-position:right -600px;
    color:#fff;
}
.ui-button-holder.ui-button-blue.ui-button-holder-hover span{
    background-position:left -650px
}

.ui-button-holder.ui-button-blue.ui-button-holder-hover .ui-button{
    background-position:right -650px
}

.ui-button-holder.ui-button-blue.ui-button-holder-active .ui-button{
    padding-top:1px;
    background-position:right -700px
}

.ui-button-holder.ui-button-blue.ui-button-holder-active span{
    background-position:left -700px
}
/**
    End Blue Button
*/

/**
    Lite-blue button
*/
.ui-button-holder.ui-button-blue-lite , .ui-button-holder.ui-button-blue-lite  a{
    height:27px;line-height:27px;
    font-size:12px;
}
.ui-button-holder.ui-button-blue-lite  a{
    padding: 0 15px 0 12px;
}
.ui-button-holder.ui-button-blue-lite span{
    background-position:left -400px;
}
.ui-button-holder.ui-button-blue-lite .ui-button{
    background-position:right -400px;
    color:#fff;
}
.ui-button-holder.ui-button-blue-lite.ui-button-holder-hover span{
    background-position:left -450px
}

.ui-button-holder.ui-button-blue-lite.ui-button-holder-hover .ui-button{
    background-position:right -450px
}

.ui-button-holder.ui-button-blue-lite.ui-button-holder-active .ui-button{
    padding-top:1px;
    background-position:right -500px
}

.ui-button-holder.ui-button-blue-lite.ui-button-holder-active span{
    background-position:left -500px
}
/**
    End Lite-blue button
*/

/**
    middle-blue button
*/
.ui-button-holder.ui-button-blue-mid , .ui-button-holder.ui-button-blue-mid  a{
    height:32px;line-height:32px;
    font-size:12px;
}
.ui-button-holder.ui-button-blue-mid  a{
    padding: 0 15px 0 12px;
}
.ui-button-holder.ui-button-blue-mid span{
    background-position:left -1000px;
}
.ui-button-holder.ui-button-blue-mid .ui-button{
    background-position:right -1000px;
    color:#fff;
}
.ui-button-holder.ui-button-blue-mid.ui-button-holder-hover span{
    background-position:left -1050px
}

.ui-button-holder.ui-button-blue-mid.ui-button-holder-hover .ui-button{
    background-position:right -1050px
}

.ui-button-holder.ui-button-blue-lite.ui-button-holder-active .ui-button{
    padding-top:1px;
    background-position:right -1100px
}

.ui-button-holder.ui-button-blue-lite.ui-button-holder-active span{
    background-position:left -1100px
}
/**
    End middle blue button
*/

/**
Arrow
*/
.ui-arrow-bottom {
    background-image:url("../images/icons_sidemenu.png");
    background-position:-1181px -8px;
    width:11px;height:6px;overflow:hidden;
    top:18px;
    right:15px;
    position:absolute;
}

/**
    Dropdown
*/
.ui-dropdown-placeholder{
    position:relative;
}
.ui-dropdown-current {
    height: 30px;
    line-height: 30px;
    padding: 4px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCED1;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 1px #D3D6D9;
    font-weight: normal;
    margin-top: 2px;
}

.ui-dropdown-options {
    position:absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: medium none;
    margin-left: 13px;
    overflow: hidden;
    width: 178px;
    z-index: 100;
    display:none;
    border:1px solid #ddd;
    border-top:none;
}

.ui-dropdown-options .pb_menu_text {
    padding:4px;
    border-top: 1px solid #E8E8E8;
}

.ui-dropdown-option-hover {
    background-color:#efefef;
}