{%extends "publish/layout.tpl"%}

{%block "publisher_title"%}发布链接{%/block%}

{%block publisher_subject%}
    <h3>标题</h3>
    <input type="text" name="subject" class="ui-input-text" />
    <h3>链接地址</h3>
    <input type="text" name="url" class="ui-input-text" />
{%/block%}

{%block publisher_editor_name%}链接描述<span>(可不填)</span>{%/block%}