<div class="blog-post-audio-meta">
    {%if $item.thumbnail%}
        <img src="{%$item.thumbnail%}" class="audio_album_cover fn-left" />
    {%/if%}

    {%assign var="post_extra" value=$item.extra|unserialize%}
    {%if $post_extra.songid%}
        <embed height="33" width="257" wmode="transparent" type="application/x-shockwave-flash" src="http://www.xiami.com/widget/0_{%$post_extra.songid%}/singlePlayer.swf"></embed>
    {%/if%}
    <div class="clearfix"></div>
</div>
