body{
    background: #333;
}

#page-left {
    position:fixed;
    _position:absolute;
    left:0;
    top:0;
    _top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
    padding-top:100px;
    text-align:right;
    width:350px;
}

#page-left a, #page-left a:visited{
    color:#efefef;
}
#page-left a:hover{
    color:#fff;
}

#page-main-wrap {
    margin:50px 0 50px 400px;
    width:600px;
}

.blog-post-item {
    background: #fff;
    padding:20px 20px 30px;
    margin-bottom:20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position:relative;
}

.blog-post-audio-meta{
    margin:20px 0;
}
.blog-post-audio-meta embed{
    margin-left:20px;
}

h1 {
    margin:20px 0;
    font: 36px/180% Verdana,arial, '微软雅黑', '宋体';
    text-shadow: -5px -1px 0 #222;
        /* CSS3 Transition Effect */
    -webkit-transition: all 0.12s ease-out;     /* Safari & Chrome */
    -moz-transition: all 0.12s ease-out;        /* Firefox */
    -o-transition: all 0.12s ease-out;      /* Opera */
}

h2{
    font-weight:bold;
}

h2 a, h2 a:visited{
    color:#333;
}

.post-item-tags {
    float:left;margin-top:10px;
    width:320px;
}
.post-item-tags a{float:left;margin-right:8px;}
.post-item-tags a, 
.blog-post-item-main h2 a,
.blog-post-item-main h2 a:visited, 
.post-item-acts a, .post-item-acts a:visited
.post-item-tags a:visited{
    color:#B4B4B4;
    font-size:12px;
}
.post-item-tags a:hover,
.post-item-acts a:hover,
.blog-post-item-main h2 a:hover{
    color:#666
}
.post-item-acts{
    position:absolute;right:10px;bottom:5px;
    width:180px;
}
.post-item-acts a{
    margin-left:8px;
    float:right;
}

.post-item-acts a.feed-fav {
    background: url("/_/public/images/feed_icons.png") no-repeat scroll -59px -28px transparent;
    _background: url("/_/public/images/feed_icons_ie.png") no-repeat scroll -59px -28px;
    height: 16px;
    text-indent: -9999em;
    width: 16px;
    float:right;
    margin-top:4px;
}

.post-item-acts a.feed-fav:hover {
    background-position: -59px 2px;
}

.post-item-acts a.feed-fav.faved {
    background-position: -89px -58px;
}

.blog-actions-nav{
    padding-right:10px;
}